  /* Color Pallette */
:root {
  /* Primary */
--color-softblue: hsl(215, 51%, 70%);
--color-cyan: hsl(178, 100%, 50%);
/* Neutral */
--color-mainbg: hsl(217, 54%, 11%);
--cardBG: hsl(216, 50%, 16%);
--color-line:  hsl(215, 32%, 27%);
--color-white: hsl(0, 0%, 100%) ;

}

/* Typography */

body {
    background-color: var(--color-mainbg);
    background-size: cover;
    
    font-size: 18px;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
} 

h1 , h2 , h3 {
    color: var(--color-white);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
} 

/* Card */

.card {
    background-color: var(--cardBG);
    padding: 2rem;
    border: 1px solid ;
    margin: 4rem;
    border-radius: 15px;
}

.card__image {
    width: 100%;
    border-radius: 10px;
}
.card__heading {
    font-weight: 600;
}

.card__body {
    line-height: 1.5;
}

.card--grey {
    color: var(--color-softblue);
    /* opacity: 0.5; */
    font-weight: 300;
}

/* Plan */
.crypto {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-line);

}
.crypto__bonus , .crypto__deadline {
    display: flex;
}

.crypto__clock , .crypto__image {
    width: 40px;
    height: 40px;
    
}

.crypto__bonus .crypto__text , .crypto__deadline .crypto__duration {
    margin: auto 10px ;
}

.crypto--margin {
    margin-bottom: 20px;
}

.crypto--green {
    color: var(--color-cyan);
}


