  /* Color Pallette */
:root {
  /* Primary */
--color-softblue: hsl(215, 51%, 70%);
--color-cyan: hsl(178, 100%, 50%);
/* Neutral */
--color-mainbg: hsl(217, 54%, 11%);
--cardBG: hsl(216, 50%, 16%);
--color-line:  hsl(215, 32%, 27%);
--color-white: hsl(0, 0%, 100%) ;

}



/* Typography */

body {
    background-color: var(--color-mainbg);
    background-size: cover;
    
    font-size: 18px;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
} 
p {
    font-size: 1.5rem;
}

h1 , h2 , h3 {
    color: var(--color-white);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
} 

@media screen and (min-width:768px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
    } 
    
    p {
        font-size: 1rem;
    }

}



/* Card */

.card {
    background-color: var(--cardBG);
    padding: 2rem;
    border: 1px solid ;
    margin: 4rem;
    border-radius: 15px;
}

.card__image {
    width: 100%;
    border-radius: 10px;
}
.card__heading {
    font-weight: 600;
}

.card__body {
    line-height: 1.5;
}

.card--grey {
    color: var(--color-softblue);
    /* opacity: 0.5; */
    font-weight: 300;
}
@media screen and (min-width:768px) {
    .card {
        width: 375px
        margin: 4rem auto;
    }
}



/* Plan */
.crypto {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-line);

}
.crypto__bonus , .crypto__deadline {
    display: flex;
}

.crypto__clock , .crypto__image {
    width: 40px;
    height: 40px;
    
}

.crypto__bonus .crypto__text , .crypto__deadline .crypto__duration {
    margin: auto 10px ;
}

.crypto--margin {
    margin-bottom: 20px;
}

.crypto--green {
    color: var(--color-cyan);
}


/* Footer */

.footer {
    display: flex;
   
    
    
   
}
.footer__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    
    
}

.footer__text {
    margin-left: 25px;
    font-size: 1.5rem;
}
.footer__text {
    color: var(--color-softblue);
}
.emphasy {
    color: var(--color-white);
    opacity: 0.8;
    font-weight: 300;
}
@media screen and (min-width:768px) {
   .footer__text , .emphasy {
       font-size: 1rem;
   } 
   .footer__image {
       width: 40px;
       height: 40px;
       border-radius: 50%;
       border: 3px solid var(--color-white);
   } 
}

