<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="card">
      <div class="container">
        <img class="card__image" src="images/image-equilibrium.jpg" alt="" />
        <img class="image__hover" src="/images/icon-view.svg" alt="">
      </div>
      <header class="card__header">
        <h1 class="card__heading">Equilibrium #3429</h1>
        <p class="card__body card--grey">
          Our Equilibrium collection promotes balance and calm
        </p>
      </header>
      <div class="crypto">
        <div class="crypto__bonus crypto--margin">
          <img class="crypto__image" src="images/icon-ethereum.svg" alt="" />
          <h2 class="crypto__text crypto--margin crypto--green">0.0041 ETH</h2>
        </div>
        <div class="crypto__deadline crypto--margin">
          <img class="crypto__clock" src="images/icon-clock.svg" alt="" />
          <h2 class="crypto__duration card--grey">3 days left</h2>
        </div>
      </div>
      <footer class="footer">
        <img class="footer__image" src="/images/image-avatar.png" alt="" />
        <p class="footer__text">
          Creation of <span class="emphasy">Jules Wyvern</span>
        </p>
      </footer>
      
    </body>
    </section>
   </body>
</html>
